@model FileExtensionDemo.Controllers.DiscountViewModel

@{
    ViewBag.Title = "title";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<table class="table">
    <tr>
        <td>名稱</td>
        <td>價格</td>
        <td>數量</td>
    </tr>
    @foreach (var item in Model.DiscountItems)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Amount</td>
        </tr>
    }
</table>

<form>
    @for (int i = 0; i < Model.PluginName.Count; i++)
    {
        @Html.RadioButton("PluginName", Model.PluginName[i]) @Model.PluginName[i] <br />
        @Html.HiddenFor(m => m.DiscountItems[i].Price)
        @Html.HiddenFor(m => m.DiscountItems[i].Amount)
    }
</form>
<button id="btn">計算</button>


<br />
總價:<span id="result">@Model.TotalPrice</span>

<script>
    $(function () {
        $('#btn').click(function () {
            $.post("/Discount/DiscountCalc", $('form').serialize(), function (result) {
                $('#result').html(result);
            });
        });

    });
</script>